

.show-enter-active,.show-leave-active{
  transition: all 400ms ease-in-out;
}
.show-enter-from,.show-leave-to{
  opacity: 0;
  top: 64px;
}
.show-enter-to,.show-leave-from{
  opacity: 1;
  top: 54px;

}